*{
margin: 0;
padding: 0;
}

body img{
    width: 100%;
}

.body1{
    color: white;
    margin-top: -62%;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar h2{
    padding-right: 23%;
    background: linear-gradient(45deg, black, transparent);

}

.navbar ul{
    list-style: none;
    display: flex;
}

.submenu1{
    display: none;
}

.navbar ul li:hover .submenu1{
    display: block;
    position: absolute;
}

.navbar ul li:hover .submenu1 ul {
    display: block;
}

.navbar ul li:hover .submenu1 ul li{
    border-bottom: 1px dotted #fff;
    text-align: left;
}

.navbar ul li:hover .submenu1 ul li:last-child{
    border-bottom: none;
}

.navbar ul li:hover .submenu1 ul li a:hover{
    color: red;
}


.submenu2{
    display: none;
}
.navbar ul li:hover .submenu2{
    display: block;
    position: absolute;
}

.navbar ul li:hover .submenu2 ul {
    display: block;
    margin-top: -30px;
}

.navbar ul li:hover .submenu2 ul li{
    border-bottom: 1px dotted #fff;
    text-align: left;
}

.navbar ul li:hover .submenu2 ul li:last-child{
    border-bottom: none;
}

.navbar ul li:hover .submenu2 ul li a:hover{
    color: red;
}

.submenu3{
    display: none;
}
.navbar ul li:hover .submenu3{
    display: block;
    position: absolute;
}

.navbar ul li:hover .submenu3 ul {
    display: block;
    margin-top: -30px;
}

.navbar ul li:hover .submenu3 ul li{
    border-bottom: 1px dotted #fff;
    text-align: left;
}

.navbar ul li:hover .submenu3 ul li:last-child{
    border-bottom: none;
}

.navbar ul li:hover .submenu3 ul li a:hover{
    color: red;
}

.sec{
    margin-top: 32%;
}

.secleft{
    padding: 0 7%;
}

.secleft ul{
    list-style: none;
}

.mayra{
    font-size: 572%;
}

.HELP{
    font-size: 131%;
}

.secleft ul{
    display: flex;
    padding-top: 2%;
}

.navbar ul li a{
    line-height: 80px;
    color: #fff;
    padding: 12px 22px;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}
.navbar ul li :nth-child(2){
    color: black;
}
.secleft ul button{
    background: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    padding: 0 2%;
}

.secright{
    padding-left: 90%;
    display: grid;
    margin-top: -3%;
    background: transparent;
}

